@{
    Layout = null;
}
@using EPAM.FinalProject.BLL.Dependencies
@using EPAM.FinalProject.Entities;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/pages/GetUserByID.cshtml" method="post">
            <label>Введите ID пользователя, чтобы найти его:</label>
            <input type="number" name="id" value="" />

            <button type="submit">Submit</button>
            <button type="button" id="homeBtn">Home</button>
        </form>

        @{
            if (IsPost)
            {
                int uID = int.Parse(Request.Params["id"]);

                var _userBLL = EPAMFinalProjectBLLDependencies.UserLogic;
                var _messageBLL = EPAMFinalProjectBLLDependencies.MessageLogic;
                var _topicBLL = EPAMFinalProjectBLLDependencies.TopicLogic;

                <div>
                    <img src=@_userBLL.GetById(uID).Icon height="25" width="25" />
                    @_userBLL.GetById(uID).ID
                    @_userBLL.GetById(uID).Name
                    @_userBLL.GetById(uID).DateOfBirth.ToString("dd.MM.yyyy")
                    @_userBLL.GetById(uID).Role
                </div>
            }

        }
    </div>
    <script src="~/js/buttons.js"></script>
    <script src="~/js/HomeButton.js"></script>
</body>
</html>
